/*
* Table Of Contents

* =========================
* Custom fonts imports
* Mobile Menu Text
* Custom modifications
* Tweak for the select
* Header navigation
* Logo
* Dropdown on FAQs section
* Menu items
* Catering Section
* Footer
* Responsiveness
* =========================
*/



/*
	*
	*
	* Custom fonts imports
	*
	*
*/

@font-face {
	font-family: "DM Sans Regular";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197ddf3345bd21fd36e9ab3/1637342708208/DMSans-Regular.ttf");
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197ee4bdcb7053a95431a0e/1637346891345/DMSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "DM Sans MediumItalic";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197ddef2558ba1a0213304f/1637342703330/DMSans-MediumItalic.ttf");
}

@font-face {
	font-family: "DM Sans Medium";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197dde9ad5ff620154b50fe/1637342698149/DMSans-Medium.ttf");
}

@font-face {
	font-family: "DM Sans Italic";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197dde3faa4752c8b558ae1/1637342692030/DMSans-Italic.ttf");
}

@font-face {
	font-family: "DM Sans BoldItalic";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197dddc7e2ba54526ca7060/1637342684350/DMSans-BoldItalic.ttf");
}

@font-face {
	font-family: "DM Sans Bold";
	src: url("https://static1.squarespace.com/static/5f3ec22739e0ce0a5b5131a0/t/6197dd851b81bc18221afda2/1637342597481/DMSans-Bold.ttf");
}




/*
	*
	*
	* Mobile Menu Text
	*
	*
*/

.burger-box:after {
	content: "Order Now";
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #DC9A3C;
	display: block !important;
}

.burger-box {
	width: 60px !important;
	height: 25px !important;
}

.burger-box div {
	display: none;
}

/* 2 columns form */
@media screen and (min-width:768px) {
	div#block-yui_3_17_2_1_1599054401120_5664 .form-wrapper .field-list {
		column-count: 2;
	}

	div#block-yui_3_17_2_1_1599054401120_5664 .form-wrapper .field-list .email:after {
		content: "";
		display: block;
		height: 125px;
	}
}

/*
	*
	*
	* Custom modifications
	*
	*
*/

html,
body {
	margin: 0 !important;
	padding: 0 !important;
	overflow: auto;
}

body,
button,
p,
.btn,
.btn.btn--border,
.theme-btn--primary.btn,
.summary-title-link {
	font-family: 'DM Sans Regular' !important;
}

h1,
h2,
h3,
h4 {
	font-family: 'Moonrising', sans-serif !important;
	/* text-transform: uppercase; */
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .83rem
}

h6 {
	font-size: .67rem
}

.sqs-block {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}


.container:not(.footer .container) {
	width: 100% !important;
	max-width: 1440px;
	margin: 1.825rem auto !important;
}



/*
	*
	*
	* Tweak for the select dropdown in SquareSpace
	*
	*
*/

select {
	/* Tweak starts */
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASklEQVQ4jWNgGAUMynKKqcryCv+U5RX+k4j/Kcsp5pJrCEIzGS7B1EyCIbg1E2EIYc14DCFeMxZDSNcMAyry8tkq8vLZZGkeQQAArA1Z34fbHooAAAAASUVORK5CYII=) 96% / 15% no-repeat #EEE !important;
	/* Tweak ends */

	width: 100% !important;
	padding: 12px !important;
	margin: 6px 0 4px !important;
	border: 1px solid #ccc !important;
	background: #fafafa !important;
	color: #000 !important;
	font-family: 'DM Sans Regular' !important;
	font-size: 12px !important;
	line-height: normal !important;
	box-sizing: border-box !important;
	border-radius: 2px !important;
}


/* CAUTION: Internet Explorer hackery ahead */


select::-ms-expand {
	display: none;
	/* Remove default arrow in Internet Explorer 10 and 11 */
}



/*
	*
	*
	* Header navigation
	*
	*
*/

.header .header-announcement-bar-wrapper {
	position: relative;
	z-index: 2;
	width: 100%;
	box-sizing: border-box;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 2vw;
	padding-right: 2vw;
	pointer-events: auto;
}


/*
	*
	*
	* Logo
	*
	*
*/

.header-title-logo img {
	width: auto;
	max-width: 100%;
	max-height: 80px !important;
}

/*
	*
	*
	* Dropdown on FAQs section
	*
	*
*/

.dropdown {
	margin-bottom: 2vw;
	/*spacing between boxes */
}

.dropdown h3 {
	font-size: 1rem;
	/*question font size */
	background: #b14725;
	/*box background colour */
	color: #ffffff !important;
	/*question text colour*/
	padding: 10px;
	outline: #b14725 solid 1px;
	/*outline around box*/
	outline-offset: 3px;
	/*spacing between box and outline*/
	margin: auto 0px;
	cursor: pointer;
	text-transform: none !important;
}

.dropdown p {
	/* font-style: italic; */
	/* answer italic */
}

.answer {
	display: none;
	margin-top: 1vw;
	/*space between question and answer */
	border-left: #e3e3e3 solid 1px;
	/*grey line beside answer */
	padding-left: 2vw;
	/*space between line and answer */
}

.dropdown h3:after {
	content: "+";
	/* content: "\2193"; */
	/* arrow */
	text-align: right;
	float: right;
}



/*
	*
	*
	* Menu items
	*
	*
*/
.summary-excerpt p {
	font-size: 16px !important;
	text-align: justify !important;
}

.summary-price .product-price {
	font-size: 20px !important;
	margin-bottom: 1rem !important;
	font-weight: 700 !important;
}

.sqs-block-image .design-layout-card .image-title-wrapper+.image-subtitle-wrapper .image-subtitle {
	margin-top: 6%;
	text-align: justify !important;
}


/*
	*
	*
	* Catering Section
	*
	*
*/

section.catering {
	color: #3C3025;

}

section.catering .profile-img {
	background-color: #fff;
	background-image: url(https://www.mariamskitchen.nyc/s/Mariam-picture.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	height: 100%;
	width: 100%;
}

section.catering .catering-details {
	padding: 1rem;
	max-width: 98%;
	font-weight: bold;
}

section.catering .catering-details,
section.catering .catering-details .catering-description p,
section.catering .catering-details .catering-description ul {
	font-weight: bold;
}

section.catering .catering-description {
	font-weight: 500;
}

section.catering .cta-btn-container {
	margin-top: 1.825rem;
}

section.catering .btn {
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	margin: auto 4px;
	padding: 10px 12px;
}

section.catering a.btn {
	text-decoration: none;
}

section.catering .btn.order {
	background-color: #CC5500;
	color: #fff
}

section.catering .btn.menu-pdf {
	color: #CC5500;
	background-color: #fff;
	border: 1px solid #CC5500;
}



/*
	*
	*
	* Footer
	*
	*
*/

footer.footer {
	background-color: #3C3025;
	font-family: 'DM Sans Regular' !important;
	color: #fff;
	text-align: center;
	padding: 3.225rem 1rem;
	font-family: inherit;
	font-size: 20px;
}

footer.footer a:link,
footer.footer a:active,
footer.footer a {
	font-family: 'DM Sans Regular' !important;
	text-decoration: none;
	color: #fff;
}

.footer a:hover {
	text-decoration: none;
	color: #CC5500;
}

.footer .footer-link-container {
	font-family: 'DM Sans Regular' !important;
	margin: 2.325rem auto;
}

.footer .footer-link-container .footer-link {
	font-family: 'DM Sans Regular' !important;
	margin: auto 14px;
}

.footer h5,
.footer .footer-link-container .footer-link.instagram-link {
	font-family: 'DM Sans Regular' !important;
	font-size: 20px;
}


/*
	*
	*
	* Responsiveness
	*
	*
*/


@media screen and (max-width: 768px) {

	.footer .col,
	.footer .col,
	.footer .col {
		margin: 6px auto;
	}
}